{% extends "bandapp/base.html" %}

{% block title %}Home - My Band Website{% endblock %}

{% block content %}
    <h1>Welcome to our band's homepage!</h1>
    <p>This is where you can find the latest news and updates about our band.</p>
    <p>Navigate through the menu above to explore our band!</p>
    <b>At this moment:</b><br/>
    <p>Currently, we are on tour around Europe, enjoying every single second.</p>
    <p>In or around Europe for the next month? Come and see one of our amazing shows!</p>
    <!-- Add more content specific to the home page here -->
{% endblock %}